<!-- header -->
<header>
  <div class="content">
    <h1>
      <a href="/home" title="">Teste</a>
    </h1>

    <h2><strong></strong>{{ title }}<span class="nav_title_detail"></span></h2>         

    <ul>
      <li class="item-sair" style="cursor: pointer"><a (click)="logoff()" title="Sair">Sair</a></li>   
    </ul>
  </div>
</header>

<!--<nav class="menu-horizontal">
   <div class="content">
     <ul>
         <li>
          <a routerLink="/home" title="">Início</a>
        </li>
        <li>
          <a routerLink="/documentos" title="">Documentos</a>
        </li>
        <li>
          <a routerLink="/menu" title="">Menu</a>
        </li>
      </ul>
  </div>
</nav>-->
<!-- /header -->