table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 15%;
}

.mat-column-status{
  width: 16%;
}

.mat-column-acao{
  display: flex;
  padding: 21px 0;
  justify-content: center;
}

.spinner {
  display: flex; 
  justify-content: center; 
  align-items: center;
}


